body {
}
 
.form-signup, .form-signin,.form-new {
    width: 50%;
    margin: 0 auto;
}

.action-button{
	font-size:25px;
}
.action-button form{ display: inline;}

.pagination{
	margin-top: 0px;
	margin-bottom: 0px;
}
.table{
	margin: 5px 0;
}

.table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
}

.login-logo{
	width: 400px;
	height: 200px;
	width: 300px;
	height: 100px;
	margin: auto;
	background-image: url(../images/common/logo.png);
	background-size: 300px auto;
	background-position: 0 0;
}

.headline{
	height: 140px;
	margin: 0px;
}
.headline h2{margin: 0px;
	vertical-align: middle;
	line-height: 100px;padding: 5px;}

/*Use for rewrite popover*/
.popover{
	max-width: 100%;
}
.popover-content{
	white-space: pre-wrap;
}


/* Change the defulat margin*/
.pager{margin:5px;}
.navbar{margin-bottom: 5px;}


/*Rewrite label*/
.label{
	margin-right:0.1em;
	margin-left:0.1em;
}